@import "../../style/myColors";
.room-page-wrap {
  position: relative;
  .room-page-header-wrap {
    position: sticky;
    top: 60px;
    z-index: 98;
    width: 100%;
    text-align: center;
    background-color: $gray-50;
    border-radius: 8px;
    .radio-toggle {
      width: 100%;
      .ant-radio-group {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-around;
        span {
          font-size: 1.1rem;
        }
      }
    }
    .radio-button-toggle {
      margin-top: 20px;
      text-align: center;
    }
    .room-page-content-title {
      padding: 20px 0;
    }
  }
  .room-page-content {
    margin-top: 20px;
  }
}
.building-floor-plan {
  display: flex;
}
@media screen and (max-width: 768px) {
  .room-page-content-title {
    h2 {
      font-size: 1.2rem;
    }
  }
  .col-height-200 {
    height: 120px !important;
  }
  .col-height-100 {
    height: 60px !important;
  }
}
