@import "../../style/myColors";
.room-page-wrap {
  position: relative;
  .room-page-header-wrap {
    width: 100%;
    text-align: center;
    background-color: $gray-50;
    padding: 10px;
    border-radius: 8px;
    .radio-toggle {
      width: 100%;
      .ant-radio-group {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 50px;
        span {
          font-size: 1.1rem;
        }
      }
    }
    .radio-button-toggle {
      margin-top: 20px;
      text-align: center;
    }
  }
  .room-page-content {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .room-page-content-title {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}
.building-floor-plan {
  display: flex;
}
@media screen and (max-width: 768px) {
  .room-page-content-title {
    h2 {
      font-size: 0.9rem;
    }
  }
  .radio-toggle {
    .ant-radio-group {
      span {
        font-size: 0.7rem !important;
      }
    }
  }
}
