.custom-row {
  margin-bottom: 40px;
}
.floor-wrap {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .custom-row {
    margin-bottom: 10px;
  }
}
