@import "./../../style/myColors";
.navigate-wrap {
  padding-top: 20px;
  height: 100%;
  .user-infomation-area {
    padding-top: 10px;
    span {
      color: $gray-600;
    }
  }
  .ant-drawer-title {
    text-align: center;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .ant-menu {
    height: 100%;
    border-inline-end: 0 solid transparent !important;
  }
}
