.building-wrap {
  width: 100%;
  h3 {
    margin-bottom: 10px;
    color: red;
  }
  .back-button {
    background-color: cadetblue;
    &:hover {
      background-color: #3e3e3e !important;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: all 0.5 ease-out;
    }
  }
}
