// Primary Colors
$primary-color: #3498db; // Xanh dương
$secondary-color: #2ecc71; // Xanh lá
$accent-color: #e74c3c; // Đỏ

// Neutral Colors
$white: #ffffff; // Trắng
$black: #000000; // Đen
$gray-50: #f9f9f9;
$gray-100: #ececec;
$gray-200: #e3e3e3;
$gray-300: #cdcdcd;
$gray-400: #b4b4b4;
$gray-500: #9b9b9b;
$gray-600: #676767;
$gray-700: #424242;
$gray-750: #2f2f2f;
$gray-800: #212121;
$gray-900: #171717;
$gray-950: #0d0d0d;
// Text Colors
$text-color: $gray-700; // Màu chữ chính
$text-color-light: $white; // Màu chữ trên nền tối
$text-title: rgb(14, 14, 141);
$text-title-content: rgb(242, 24, 53);
// Background Colors
$background-color: $gray-200; // Màu nền chính
$background-dark: $gray-50; // Màu nền tối

// Border Colors
$border-color: $gray-50; // Màu viền chính

// State Colors
$success-color: #2ecc71; // Xanh lá (thành công)
$info-color: #3498db; // Xanh dương (thông báo)
$warning-color: #f39c12; // Vàng (cảnh báo)
$danger-color: #e74c3c; // Đỏ (nguy hiểm)

// Hover Colors
$primary-color-hover: darken($primary-color, 10%);
$secondary-color-hover: darken($secondary-color, 10%);
$accent-color-hover: darken($accent-color, 10%);

// Opacity Colors
$black-opacity-50: rgba(0, 0, 0, 0.5);
$white-opacity-50: rgba(255, 255, 255, 0.5);
