@import "../../style/myColors";
.my-slide-show-wrap {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .slide-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    .slide-container {
      display: flex;

      transition: transform 1s ease-in-out;
      .slide {
        min-width: 100%;
        flex-shrink: 0;
      }
      .ant-image {
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
          height: 500px;
        }
      }
    }
  }

  .ant-image .ant-image-mask:hover {
    opacity: 0 !important;
  }
  .btn-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 8px;
    opacity: 0.3;

    &:hover {
      opacity: 1;
      transition: 0.3s;
    }
  }

  .back {
    z-index: 10;
    left: 5px;
  }
  .forward {
    z-index: 10;
    right: 5px;
  }

  .thumbnail-wrap {
    max-width: 45vw;
    margin-top: 10px;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .thumbnail {
    flex-shrink: 0;
    width: 80px;
    height: 60px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;

    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s, border 0.3s;
    display: inline-block;
    scroll-snap-align: center;
  }

  .thumbnail.active {
    opacity: 1;
    border-color: orange;
  }
}
@media screen and (min-width: 1700px) {
  // .slide .ant-image img {
  //   height: 900px !important;
  // }
}
@media screen and (max-width: 768px) {
  .slide .ant-image img {
    height: 200px !important;
  }
  .thumbnail-wrap {
    width: 100% !important;
  }
}
