$height: 10vh;
@use "sass:math";
@import "../../style/myColors";
.room-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: $height;
  width: 100%;
  justify-content: center;
  align-items: center;
  // background-color: $VACANT-color;

  border-radius: 5px;
  font-weight: 900;
  font-size: 1.3vw;
  color: white;
  &:hover {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border: 3px solid #d9d9d9;
  }
  span {
    text-align: center;
    color: $VACANT-color;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
}
.VACANT {
  background-color: $VACANT-color;
}
.OCCUPIED {
  background-color: $OCCUPIED-color;
}

.base-room {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.1vw;
}
.small-room {
  height: 100px !important;
}
.small-room-sub {
  height: 95px !important;
}
.sub-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.balcony {
  height: 100px;
  background-color: rgb(118, 19, 137);
  font-size: 1rem;
  color: white;
}
.lobby {
  height: $height;
  background-color: gray;
  color: white;
}
.staircase {
  height: math.div($height, 2);
  background-color: rgb(244, 118, 15);
  color: white;
  font-size: 1vw;
} // cau thang
.staircase-big {
  height: $height;
  background-color: rgb(244, 118, 15);
  color: white;
  font-size: 1vw;
}
.staircase-vertical {
  height: 100px;
  background-color: rgb(244, 118, 15);
  color: white;
  font-size: 1rem;
}
.warehouse {
  height: math.div($height, 3);
  background-color: gray;
  color: white;
  font-size: 0.9vw;
} // kho

.gate {
  border: 5px solid $gray-600;
  border-left: none;
  border-radius: 0;
  color: $gray-800;
  font-size: 1.8vw;
}
.swimming {
  background-color: rgb(1, 202, 253);
  border-radius: 5px;
  color: white;
  font-size: 1.8vw;
}
.kitchen {
  height: $height * 1.5;
  margin-bottom: 10px;
  background-color: bisque;
  color: rgb(7, 65, 241);
}

.pantry {
  height: $height * 0.5;
  margin-bottom: 10px;
  background-color: gray;
  color: white;
} // kho bep
.dining {
  height: $height;
  background-color: rgb(244, 239, 81);
  color: rgb(7, 65, 241);
}
.dining-vertical {
  height: 305px !important;
  background-color: rgb(244, 239, 81);
  color: rgb(7, 65, 241);
}

.karaoke {
  height: $height;
  background-color: chocolate;
  color: white;
}
.yoga {
  height: $height;
  background-color: purple;
  color: white;
  font-size: 1vw;
}
.gym {
  height: 310px !important;
  background-color: purple;
  color: white;
}
.technique {
  height: $height * 0.4;
  font-size: 0.7vw;
  background-color: cornflowerblue;
  color: white;
}
.toilet {
  height: $height * 0.4;
  background-color: cadetblue;
  color: white;
}
.toilet-big {
  height: $height;
  background-color: cadetblue;
  color: white;
}
@media screen and (max-width: 768px) {
  $height: 5vh;
  .base-room {
    border-radius: 2px;
  }
  .toilet-big,
  .karaoke,
  .yoga,
  .room-area,
  .staircase-big,
  .lobby {
    height: $height * 0.5;
    border-radius: 2px;
  }
  .dining {
    height: $height * 0.3;
  }
  .pantry {
    height: $height * 0.3;
    margin-bottom: 5px;
  }
  .kitchen {
    height: $height * 0.4;
    margin-bottom: 5px;
  }
  .warehouse,
  .staircase,
  .toilet,
  .technique {
    height: $height * 0.2;
  }
}
