$height: 10vh;
@use "sass:math";
@import "../../style/myColors";
.room-area {
  display: flex;
  height: $height;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 238, 151);
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.3vw;
  color: #003366;
  &:hover {
    cursor: pointer;
    border: 3px solid #003366;
  }
}

.base-room {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.1vw;
}
.sub-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lobby {
  height: $height;
  background-color: gray;
  color: white;
}
.staircase {
  height: math.div($height, 2);
  background-color: rgb(244, 118, 15);
  color: white;
  font-size: 1vw;
} // cau thang
.warehouse {
  height: math.div($height, 3);
  background-color: gray;
  color: white;
  font-size: 0.9vw;
} // kho

.gate {
  border: 5px solid $gray-600;
  border-left: none;
  border-radius: 0;
  color: $gray-800;
  font-size: 1.8vw;
}
.swimming {
  background-color: rgb(1, 202, 253);
  border-radius: 5px;
  color: white;
  font-size: 1.8vw;
}
.kitchen {
  height: $height * 1.5;
  margin-bottom: 10px;
  background-color: bisque;
  color: rgb(7, 65, 241);
}
.pantry {
  height: $height * 0.5;
  margin-bottom: 10px;
  background-color: bisque;
  color: rgb(7, 65, 241);
}
.dining {
  height: $height;
  background-color: bisque;
  color: rgb(7, 65, 241);
}
.park {
  background-color: green;
  color: white;
}
.karaoke {
  height: $height;
  background-color: chocolate;
  color: white;
}
.yoga {
  height: $height;
  background-color: purple;
  color: white;
  font-size: 1vw;
}
.technique {
  height: $height * 0.4;
  font-size: 0.7vw;
  background-color: cornflowerblue;
  color: white;
}
.toilet {
  height: $height * 0.4;
  background-color: cadetblue;
}
.toilet-big {
  height: $height;
  background-color: cadetblue;
}
@media screen and (max-width: 768px) {
  $height: 5vh;
  .base-room {
    border-radius: 2px;
  }
  .toilet-big,
  .karaoke,
  .yoga,
  .room-area,
  .lobby {
    height: $height * 0.5;
    border-radius: 2px;
  }
  .dining {
    height: $height * 0.3;
  }
  .pantry {
    height: $height * 0.3;
    margin-bottom: 5px;
  }
  .kitchen {
    height: $height * 0.4;
    margin-bottom: 5px;
  }
  .warehouse,
  .staircase,
  .toilet,
  .technique {
    height: $height * 0.2;
  }
}
