@import "./style/myColors";
.web-container {
  position: relative;
  min-width: 100vw;
  width: 100%;
  margin: 0 auto;
  display: flex;

  .content-wrap {
    width: 100%;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-color: $white;

    .header-area {
      position: sticky;
      top: 0;
      z-index: 999;
      width: 100%;
      height: 60px;
      background-color: $white;
      border-bottom: 1px solid $gray-100;
    }
    .main-content-wrap {
      width: 100%;
      padding: 10px 0 100px 0;
      height: 100%;
    }
  }
}
